<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3 "> 
    <form class="mb-3"> 
      <div class="form-group">
        <label for="nombreLabel">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="nombre" placeholder="Introduce tu nombre" [(ngModel)]="nombre"> 
      </div>
      <div class="form-group">
        <label for="emailLabel">Email</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="email" placeholder="Introduce tu email" [(ngModel)]="email">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tus datos con alguien mas.</small>
      </div>
      <div class="form-group">
        <label for="asuntoLabel">Asunto</label>
        <input type="text" class="form-control" name="asunto" id="asunto" aria-describedby="asunto" placeholder="Introduce tu asunto" [(ngModel)]="asunto"> 
      </div>
      <div class="form-group">
        <label for="textArea">Mensaje</label>
        <textarea class="form-control" name="mensaje" id="mensaje" rows="3" [(ngModel)]="mensaje"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="Enviar()">Enviar</button>
    </form>
    <div class="alert alert-primary" role="alert" *ngIf="mostrar_texto">
      Gracias por contactarnos ---NOMBRE--- espera un mensaje pronto.
    </div>
  </div>
</ion-content>
